<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="content">
    <div class="font-poppins">
        <div class="mt-6 mb-4">
            <h1 class="text-2xl font-bold">Mis Publicaciones</h1>
        </div>
        <div id="works-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        </div>
        <section th:replace="~{/dashboard/seller/fragments/seller-works/modal-edit-work :: modal-edit-work}"></section>
        <section th:replace="~{/dashboard/seller/fragments/seller-works/modal-delete-work :: modal-delete-work}"></section>
        <section th:replace="~{/dashboard/seller/fragments/seller-works/modal-user-request-work :: modal-user-request-work}"></section>
    </div>
</section>
</html>